.taskContainer{
    background-color:#F2F2F2;
    padding:8px 8px;
    max-width:310px;
    border-radius:10px;
    margin-left:10px;
    display:flex;
    flex-direction:column;
    max-width:340px;
  }
  
  .gridContainer{
    margin-left: 10px;
  }
  
  h3{
    margin-left:120px;
  }
    